<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
<title>tipJS.com - Javascript MVC Framework View(Template) Tutorial</title>
<script src="../../tipJS/tipJS.2.0.0.dev.js"></script>
<script src="app.js"></script>
<script>
window.onload = function(){
	var input="input value";
	tipJS.loadApp(input);
};
</script>
</head>
<body>
<h1>tipJS.com - Javascript MVC Framework <br />View(Template) Tutorial</h1>
    <div id="contents"></div>
    <input type="button" value="Controller"
    onclick="tipJS.action.controller1();"/>
<h4><a href="app.js" target="_blank">app.js</a></h4>
<h4>View(Template)</h4>
<ul>
	<li>controllers</li>
	<ul>
		<li><a href="controllers/controller1.js" target="_blank">controller1.js</a></li>
	</ul>
</ul>
<ul>
	<li>views</li>
	<ul>
		<li><a href="views/viewA.js" target="_blank">viewA.js</a></li>
		<li><a href="views/template.html" target="_blank">template.html</a></li>
	</ul>
</ul>
</body>
</html>