/*Reset Browser*/
p, article, section, nav, aside, ul, body, h1, h2, h3{
	padding: 0;
	margin: 0;
	display: block;
	left: 0;
	top: 0;
}

body{
	font: 14px 'Apple SD Gothic Neo', '맑은 고딕','Malgun Gothic', 'Nanum Gothic', '나눔고딕','Driod Sans Fallback', 'Driod Sans', Helvetica, 'Gulim';
	color: #444;
	letter-spacing: 0px;
	word-spacing: 2.4px;
	line-height: 24px;
	background: url('../noisePattern.png') repeat;
	min-width: 320px;
}

a{
	color: #f05a28;
	text-decoration: none;
	cursor: hand;
	cursor: pointer;
}

a:hover{
	color: #d92900;
	text-decoration: underline;
}

    .contents section ul {
        padding-left: 40px;
        margin: 1px 5px;
    }

    .contents .languageSelector ul {
        padding-left: 5px;
    }

	h1{
		font-size: 30px;
		font-weight: bold;
	}

	h2{
		font-size: 20px;
		line-height: 24px;
	}
	
	/* Source Code Viewer */
	pre{
		margin: 10px 0 40px;
		box-shadow: 3px 4px 8px rgba( 0, 0, 0, 0.4 );
	}

nav{
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	width: 180px;
	padding: 20px;
	overflow: scroll;
	height: 100%;
	z-index: 1000;
	background-color: #333;
	color: #ccc;
	border: 0 solid #999;
	border-right-width: 1px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
}

nav a{
	color: #ccc;
}

nav a {
    text-decoration: none;
}

nav a:hover{
    color: #f05a28;
    text-decoration: underline;
}

nav dt{
	padding: 6px 10px;
	margin: 0 0 4px;
	border: 0 solid #444;
	border-bottom-width: 1px;
	border-top-width: 1px;
	font-weight: bold;
}

nav dd{
	padding: 2px 20px;
	line-height: 22px;
	margin: 0;
	font-size: 13px;
}
	nav a:after{
		position: absolute;
		right: 50px;
		opacity: 0;
		content: '>';
		font-size: 20px;
		-webkit-transition: all .25s ease;
		   -moz-transition: all .25s ease;
		    -ms-transition: all .25s ease;
		     -o-transition: all .25s ease;
		        transition: all .25s ease;
	}

	nav a:hover:after,
	nav a:active:after{
		right: 20px;
		opacity: 1;
	}
	#menuButton,
	.menuButton{
		display: none;
	}

.basicButton {
	display: inline-block;
	padding: 12px 20px 10px;
	margin: 10px;
	background: #f05a28; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f05a28', endColorstr='#be1e2d');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f05a28', endColorstr='#be1e2d')";
	background: -ms-linear-gradient(top,  #f05a28,  #be1e2d);
	background: -webkit-gradient(linear, left top, left bottom, from(#f05a28), to(#be1e2d));
	background: -moz-linear-gradient(top,  #f05a28,  #be1e2d);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #f7d8b7;
	min-width: 160px;
	text-align: center;
}

.basicButton:hover{
	color: #fff;
}

.contents {
	margin-left: 250px;
	max-width: 768px;
	padding: 30px;
}

    .contents a {
        font-weight: bold;
    }
	.contents section{
		margin-bottom: 30px;
	}

    .contents h1 {
		color: #000;
        border: 0 solid #ccc;
        padding: 110px 0 10px;
        margin-bottom: 12px;
        border-bottom-width: 2px;
	}

	.contents section h2{
		padding: 6px 0;
		margin: 12px 0;
/*		border: 0 solid #ccc;
		border-bottom-width: 1px;*/
	}

	.contents section article{
		padding: 5px;
	}

	.contents p {
		margin-left: 5px;
	}

	pre{
		text-align: left;
	}

.languageSelector{
	position: relative;
	top: -20px;
}

.logo{
	width: 320px;
	text-align: center;
}

	.logo h3{
		padding: 10px;
	}

	.languageSelector ul{
		display: inline-block;
	}

	.languageSelector li{
		display: inline-block;
	}

	.languageSelector li:after{
		content: '|';
		padding: 0 10px;
		color: #aaa;
	}

	.languageSelector li:last-child:after{
		content: '';
	}

/* Contributors Section */

	#contributors ul{
		padding-top: 20px;
		display: inline-block;
	}

	#contributors img{
		/*padding-bottom: 20px;*/
	}

	#contributors li{
		padding: 0 40px 30px 0;
		display: inline-block;
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
		filter: gray;
		-webkit-filter: grayscale(100%);
	}

	#contributors li:hover{
		filter: none;
		-webkit-filter: none;
	}

	#contributors .SNSLink{
		display: block;
	}


@media only screen and (max-width: 768px){

	.gitRibbon{
		display: none;
	}

	nav,
	.menuButton{
		-webkit-transition: all .25s ease;
		   -moz-transition: all .25s ease;
		    -ms-transition: all .25s ease;
		     -o-transition: all .25s ease;
		        transition: all .25s ease;
		left: -220px;
	}

	.contents{
		padding: 0;
	}
	
	.menuButton{
		position: fixed;
		display: inline-block;
		top: 0;
		margin-left: 220px;
		background-color: #333;
		padding: 10px 12px 8px;
		color: #fff;
		z-index: 2000;
	}

	#menuButton:checked ~ nav,
	#menuButton:checked ~ label .menuButton{
		left: 0;
	}

	h1, 
	.languageSelector,
	.logo{
		display: inline-block;
		width: 100%;
		text-align: center;
	}

	.contents{
		margin-left: 0;
	}
}



.imagebox {
    text-align: center;
}
.imagebox img {
    border: none;
}

.github-logo {
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.github-logo:hover {
    -webkit-transform: scale(1.1);
    box-shadow: 1px 1px 1px 2px #999;
}

@-ms-keyframes target {
    from {
        background:#ffffff;
        border-radius: 20px;
    }
    50% {
        background:#fdfdd3;
        border-radius: 10px;
    }
    to {
        background:transparent;
        border-radius: 0;
    }
}
@-moz-keyframes target {
    from {
        background:#ffffff;
        border-radius: 20px;
    }
    50% {
        background:#fdfdd3;
        border-radius: 10px;
    }
    to {
        background:transparent;
        border-radius: 0;
    }
}
@-webkit-keyframes target {
    from {
        background:#ffffff;
        border-radius: 20px;
    }
    50% {
        background:#fdfdd3;
        border-radius: 10px;
    }
    to {
        background:transparent;
        border-radius: 0;
    }
}
@keyframes target {
    from {
        background:#ffffff;
        border-radius: 20px;
    }
    50% {
        background:yellow;
        border-radius: 10px;
    }
    to {
        background:transparent;
        border-radius: 0;
    }
}
/* pseudo element */
:target {
    -webkit-animation:target 1s linear;
}

#join-in div {
    text-align: center;
}